{% load fragments %}

<div id="publish-conversation">
    <form action="#" id="new_thread">
        <textarea class="publish-conversation" placeholder="On vous écoute ..."></textarea>
        <input type="submit" value="Publier" class="button publish-comment">
        </input>
        <select class="ui-select conversation-tag-select">
            <option value="question cours">Question concernant le cours</option>
            <option value="question exam">Question d'examen</option>
            <option value="info pratique">Info pratique</option>
        </select>
        <div class="cf"></div>
    </form>
</div>
<div class="toolbar">
    <label for="sort-by">Trier par : </label>
    <select id="sort-by">
        <option>Date de publication</option>
        <option>Classement</option>
    </select>
</div>

{% verbatim %}
{{#each threads}}
<article id="thread_{{ this.id }}">
</article>
{{/each}}
{% endverbatim %}
