{% load fragments %}
{% verbatim %}
<div id="new-document-toolbar">
    <a id="upload" href="#" class="button">
        <i class="upload-icon"></i>
        Envoyer un nouveau document
    </a>
    <select class="ui-select" id="sort-by">
        <option value="name">Titre</option>
        <option value="uploader">Auteur</option>
        <option value="rating">Qualité</option>
        <option value="statistical_rating">Qualité statistique</option>
        <option value="popularity">Popularité</option>
        <option value="date">Date de publication</option>
    </select>
    <label>Trier par:</label>
</div>
    {{#each documents}}
    <div class="cf"></div>
    <div id="document-feed">
        <article>
            <div>
                <img src="static/image/sample-document-preview.png" alt="" />
            </div>
            <div>
                <h3>
                    <strong><a href="#">{{this.name}}</a></strong>
                    <span class="title-date">Posté {{date this.date}}</span>
                </h3>
                <div>
                    {{{stars this}}}
                    <span class="doc-type">
                        <i class="type-icon"></i>
                        pdf
                    </span>
                </div>
                <div class="doc-description">
                    <p>{{this.description}}</p>
                </div>
            </div>
        </article>
    </div>
    {{/each}}
    {% endverbatim %}
