{% load fragments %}
{% verbatim %}
<h1>Upload document</h1>
<div id="upload_message"></div>
<form id="upload_form" target="upload_frame" method="post"
        encoding="multipart/form-data" enctype="multipart/form-data">
    <table>
        <tr><td>Filename : </td>
            <td><input name="filename"/></td></tr>
        <tr><td>Description : </td>
            <td><textarea name="description"></textarea></td></tr>
        <tr><td>File : </td>
            <td><input name="xfile" type="file"></td></tr>
    </table>
    <input name="ctype" type="hidden" value="{{ type }}"/>
    <input name="context" type="hidden" value="{{ context }}"/>
    <input name='csrfmiddlewaretoken' type='hidden' id='csrf_token' value='{{ token }}' />
    <input id="upload_form_submit" type="submit" value="upload">
    <iframe id="upload_frame" name="upload_frame" src=""></iframe>
</form>
<hr>
<form id="upload_http_form" method="post">
    <table>
        <tr><td>Filename : </td>
            <td><input name="filename" value="slidix"/></td></tr>
        <tr><td>Description : </td>
            <td><textarea name="description">description youpla boom</textarea></td></tr>
        <tr><td>URL : </td>
            <td><input name="url" value="http://cerkinfo.be/~hastake/test.pdf"></td></tr>
    </table>
    <input name="ctype" type="hidden" value="{{ type }}"/>
    <input name="context" type="hidden" value="{{ context }}"/>
    <input name='csrfmiddlewaretoken' type='hidden' id='csrf_token' value='{{ token }}' />
    <input id="upload_http_submit" type="submit" value="upload">
</form>
{% endverbatim %}
