body {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    font-size: 14px;
}

a {
    color: blue;
    text-decoration: none;
}

#application {
    margin: 40px 10px 20px 10px;
    border: 1px #eee solid;
    overflow: auto;
}

#application h1 {
    margin: 5px 0px 10px 10px;
}

#upload_frame {
    width: 0px;
    height: 0px;
    border: none;
}

#navbar {
    position: absolute;
    height: 30px;
    background-color: #ddd;
    width: 100%;
    top: 0px;
    left: 0px;
}

#navbar div {
    float: left;
    border: 1px green solid;
    padding: 2px;
    margin: 5px;
}

.big_button {
    float: left;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    height: 90px;
    width: 90px;
    cursor: pointer;
}

.light_blue {
    background-color: #adf;
}

.light_red {
    background-color: #fda;
}

#market {
    background-color: #eee;
}

#course_popup {
    position: absolute;
    overflow: auto;
    border: 1px black solid;
}

#desktop {
    overflow: auto;
}
