/***** [ Reset css ] ************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;padding: 0;border: 0;outline: 0;
    font-weight: inherit;font-style: inherit;font-size: 100%;font-family: inherit;
    vertical-align: baseline;
    }
:focus {outline: 0;}
ol, ul {list-style: none;}
table {border-collapse: separate;border-spacing: 0;}
caption, th, td {text-align: left;font-weight: normal;}
blockquote:before, blockquote:after,
q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}

/*** end of reset, magic ends here */

body {
    background: #F6F6F6;
    font: normal 13px "Verdana", "Helvetica", "Arial", "Tahoma", sans-serif;
    color: #333;
    overflow-x: hidden;
}

a {
    color: blue;
    text-decoration: none;
}

header {
    background: #b22;
    width: 100%;
    height: 40px;
}

#navbar {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

#logo {
    float: left;
    color: #fff;
    font: normal 20px "Signika", sans-serif;
    padding: 12px 0;
    line-height: 14px;
    display: block;
    text-decoration: none;
    width: 104px;
    text-align: center;
}

#logo:hover {
    text-decoration: underline;
}

#search-wrapper {
    float: left;
    width: 490px;
    margin-left: 68px;
}

#search-wrapper input {
    width: 490px;
    border: none;
    height: 20px;
    margin-top: 10px;
    border-radius: 2px;
    background: #fff url("/static/image/search-icon.png") left no-repeat;
    padding-left: 20px;
}

#account-wrapper {
    float: right;
    margin-left: 100px;
    line-height: 40px;
    color: #fff;
    font-weight: bold;
    text-align: right;
}

i.person-icon {
    background: url("/static/image/person-icon.png");
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 4px;
}

i.ticker-icon {
    background: url("/static/image/ticker-icon.png");
    width: 9px;
    height: 6px;
    display: inline-block;
}

i.dashboard-icon {
    background: url("/static/image/dashboard-icon.png");
    width: 24px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
}

i.course-icon-large {
    background: url("/static/image/course-icon-large.png");
    display: inline-block;
    width: 22px; height: 20px;
    margin-right: 2px;
}

#main-sided-wrapper {
    float: left;
    width: 660px;
}

#large-sidebar-wrapper {
    float: left;
    width: 260px;
    margin-left: 40px;
}

#content-wrapper {
    width: 960px;
    margin: 40px auto 0 auto;
    overflow: hidden;
}

h1 {
    font-size: 20px;
    font-weight: bold;
}

.sidebar-nav {
    margin-bottom: 40px;
}

.sidebar-nav a {
    font-size: 14px;
    color: #999;
    display: block;
    border-left: 2px solid #DDD;
    padding-left: 10px;
    line-height: 30px;
    text-decoration: none;
}   

.sidebar-nav a:hover {
    color: #333;
    border-color: #333;
}

a.nav-active {
    color: #b22;
    border-color: #b22;
    font-weight: bold;
}

h2 {
    font-size: 16px;
    font-weight: bold;
    height: 30px;
}

.toolbar {
    margin-top: 20px;
}

#sort-by {
    background: #fff;
    border: 1px solid #b22;
    padding: 2px 4px;
}

#dashboard {
    margin-top: 20px;
}

#dashboard li {
    font-size: 16px;
    font-weight: bold;
    background: #eee;
    width: 130px;
    height: 100px;
    display: block;
    padding: 10px;
    box-shadow: inset 0px 0px 0px 1px #d6d6d6;
    border-radius: 2px;
    margin: 20px 0 0 20px;
    position: relative;
    float: left;
}

#dashboard li p {
    position: absolute;
    bottom: 10px;
}

#dashboard li:nth-child(4n+1) {
    margin-left: 0;
}

#dashboard li.dashboard-course {
    background: #eee url("/static/image/course-icon.png") top left no-repeat;
}

#dashboard li.dashboard-folder {
    background: #eee url("/static/image/folder-icon.png") top left no-repeat;
}

#dashboard li.dashboard-preference {
    background: #eee url("/static/image/prefs-icon.png") top left no-repeat;
}

#dashboard li.dashboard-add {
    background: #eee url("/static/image/add-icon.png") top left no-repeat;
}

.dashboard-notif {
    position: absolute;
    top: -5px;
    right: -5px;
    border-radius: 10px;
    background: #b22;
    padding: 2px 6px;
    color: #fff;
    font-size: 14px;
    line-height: 16px;
}

#upload_frame {
    width: 0px;
    height: 0px;
    border: none;
    display: none;
}

.side-toolbar {
    width: 400px;
    background: #fff;
    -webkit-box-shadow:  -3px 0px 0px 0px rgba(0, 0, 0, .2);
        box-shadow:  -3px 0px 0px 0px rgba(0, 0, 0, .2);
    height: 100%;
    position: absolute;
    top: 0; left: 100%;
    -webkit-transition: margin-left 300ms ease-in-out;
    -moz-transition: margin-left 300ms ease-in-out;
    -ms-transition: margin-left 300ms ease-in-out;
    -o-transition: margin-left 300ms ease-in-out;
    transition: margin-left 300ms ease-in-out;
    margin-left: 3px;
    z-index: 2;
}

#sidebar-inner {
    margin: 10px;
}

#sidebar-inner hr {
    border: none;
    background-color: #ddd;
    height: 1px;
    margin: 14px -10px 14px -10px;
}

#sidebar-inner td {
    vertical-align: middle;
    padding: 4px;
}

#sidebar-inner h1 {
    font-size: 14px;
    margin: 5px 3px 10px 3px;
}

#sidebar-inner input,textarea {
    border: 1px solid #d88;
    border-radius: 3px;
    min-width: 200px;
    padding: 2px;
    box-shadow:  1px 1px 1px #ddd;
}

#sidebar-inner input[type='submit'], input[type='button'] {
    background-color: #f3eeee;
    min-width: 0px;
    padding: 4px 7px 3px 7px;
    margin: 4px;
}

#upload_message {
    font-weight: bold;
    font-style: italic;
    margin: 5px 0px 5px 0px;
}
.side-toolbar-opened {
    margin-left: -400px;
}

.backdrop {
    width: 100%; height: 100%;
    position: absolute;
    top: 0; left: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 1;
    -webkit-transition: opacity 300ms ease-in-out;
    -moz-transition: opacity 300ms ease-in-out;
    -ms-transition: opacity 300ms ease-in-out;
    -o-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
}

.backdrop-hidden {
    opacity: 0;
}

.conversation-feed {
    margin-top: 20px;
}

.conversation-feed article {
    border-top: 2px solid #eee;
    padding-top: 20px;
    margin-bottom: 10px;
}

.conversation-feed article:first-child {
    border-top: none;
    padding-top: 0;
}

.conversation-feed article > div:first-child {
    float: left;
    width: 100px; height: 100px;
}

.conversation-feed article > div:nth-child(2) {
    float: left;
    width: 540px;
    margin-left: 20px;
}

h3 strong {
    font-size: 16px;
    font-weight: bold;
}

.title-date {
    color: #999;
    margin-left: 5px;
    font-size: 13px;
}

.conversation-feed article > div > p {
    margin-top: 20px;
    font-size: 13px;
    line-height: 18px;
}

.tag-wrapper {
    background: #b22 url("/static/image/tag-icon.png") left center no-repeat;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    padding: 4px 5px 4px 20px;
    float: right;
}

.conversation-feed-actions {
    font-size: 12px;
    font-weight: bold;
}

.inline-counter {
    color: white;
    background: #B22;
    font-size: 10px;
    line-height: 16px;
    padding: 0 3px;
    border-radius: 2px;
    margin: 1px 0 0 3px;
    vertical-align: top;
    min-width: 14px;
    display: inline-block;
    text-align: center;
}

.button {
    background-color: #b22;
    color: #fff;
    display: block;
    padding: 8px 0;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    text-align: center;
    border: 1px solid #a81f1f;
    border-radius: 2px;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, .15);
    cursor: pointer;
}

.button:hover {
    background-color: #d22;
    color: #fff;
}

.comment-box {
    margin-top: 20px;
}

i.discuss-icon {
    background: url("/static/image/discuss-icon.png") no-repeat;
    display: inline-block;
    width: 15px;
    height: 13px;
    vertical-align: top;
    margin-right: 5px;
}

.comment-box ul {
    margin-top: 20px;
}

.comment-box ul li {
    margin: 10px 0;
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.comment-box ul li:first-child {
    border-top: none;
    padding-top: 0;
}

.comment-box ul li > div {
    float: left;
}

.comment-box ul li > div:first-child {
    width: 50px;
}

.comment-box ul li > div:nth-child(2) {
    width: 475px;
    margin-left: 15px;
    line-height: 18px;
}

.comment-box h4 {
    font-size: 12px;
    margin-bottom: 10px;
}

.comment-box h4 a {
    font-weight: bold;
}

.comment-box h4 .title-date {
    font-size: 12px;
}

.comment-box p {
    line-height: 18px;
}

.comment-box .comment-actions {
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

textarea {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    resize: vertical;
    max-height: 200px;
}

.comment-textarea {
    width: 100%; height: 50px;
}

.publish-comment {
    padding-right: 10px;
    padding-left: 30px;
    background-image: url("/static/image/publish-icon.png");
    background-repeat: no-repeat;
    background-position: left center;
    float: right;
    margin-top: 10px;
}

.publish-conversation {
    width: 100%;
    height: 60px;
}

#publish-conversation {
    margin-top: 15px;
    padding: 10px;
    background: #EEE;
    border: 1px solid #DDD;
    border-radius: 2px;
}

.ui-select {
    background: url("/static/image/select.png") no-repeat top right #fff;
    overflow: hidden;
    height: 30px;
    color: #666;
    font: normal 12px "Helvetica", sans-serif;
    -webkit-appearance: none;
    padding-left: 10px;
    padding-right: 40px;
    border: none;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, .25);
    cursor: pointer;
}

.ui-select:hover {
    background-position: bottom right;
}

.conversation-tag-select {
    margin-top: 10px;
}

/* -- Documents Page -- */
i.upload-icon {
    background: url("/static/image/upload-icon.png");
    width: 13px; height: 13px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: top;
}

#new-document-toolbar {
    margin-top: 40px;
}

#new-document-toolbar a {
    float: left;
    width: 220px;
}

#new-document-toolbar select, #new-document-toolbar label {
    float: right;
}

#new-document-toolbar label {
    line-height: 30px;
    margin-right: 10px;
    color: #666;
}

#new-document-toolbar select {
    width: 160px;
}

#document-feed {
    margin-top: 40px;
}

#document-feed article > div:first-child {
    float: left;
    margin-right: 20px;
    width: 100px;
}

#document-feed article > div:nth-child(2) {
    float: left;
    width: 540px;
}

.rating, .doc-type {
    margin-top: 10px;
    font-weight: bold;
    color: #666;
    font-size: 14px;
    display: inline-block;
}

.doc-type {
    margin-left: 20px;
}

i.star-icon {
    background: url("/static/image/star-icon.png") no-repeat;
    width: 12px; height: 12px;
    display: inline-block;
}

i.star-icon-gray {
    background: url("/static/image/star-icon-gray.png") no-repeat;
    width: 12px; height: 12px;
    display: inline-block;
}

i.type-icon {
    background: url("/static/image/type-icon.png") no-repeat;
    width: 12px; height: 12px;
    display: inline-block;
}

.doc-description {
    margin-top: 20px;
    color: #666;
    line-height: 18px;
}

.doc-feed-actions {
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    margin-top: 10px;
}

