<!-- Copyright 2012, Cercle Informatique. All rights reserved. -->

{% load i18n %}
{% load ssi from future %}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="/static/style/fognar.css" rel="stylesheet" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Signika' rel='stylesheet' type='text/css'>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>FOGNAR</title>
        <script src="/static/third_party/jquery-1.7.min.js"></script>
        <script src="/static/third_party/underscore-min.js"></script>
        <script src="/static/third_party/backbone-min.js"></script>
        <script src="/static/third_party/backbone-relational.js"></script>
        <script src="/static/third_party/handlebars-1.0.0.beta.6.js"></script>
        <script type="text/javascript">
            {% include "urls.js" %}

            autostart = {{ user.get_profile.autostart }};
        </script>
        <script src="{% url fragments %}" type="text/javascript"></script>
        <script src="/static/scripts/fognar.js" type="text/javascript"></script>
        <script src="/static/scripts/helpers.js" type="text/javascript"></script>
        <script src="/static/scripts/cache.js" type="text/javascript"></script>
        <script src="/static/scripts/views/page_title.js" type="text/javascript"></script>
        <script src="/static/scripts/views/course_sidebar.js" type="text/javascript"></script>
        <script src="/static/scripts/views/desktop.js" type="text/javascript"></script>
        <script src="/static/scripts/views/document.js" type="text/javascript"></script>
<!--        <script src="/static/scripts/views/preference.js" type="text/javascript"></script>
        <script src="/static/scripts/views/group.js" type="text/javascript"></script>
        <script src="/static/scripts/views/market.js" type="text/javascript"></script>
        <script src="/static/scripts/views/viewer.js" type="text/javascript"></script>
        <script src="/static/scripts/views/message.js" type="text/javascript"></script>-->
        <script type="text/javascript">
            window.profile = new Backbone.Model({
                id: {{ user.get_profile.id }},
                user_id: {{ user.id }},
                name: '{{ user.get_profile.name }}',
                email: '{{ user.get_profile.email }}',
                registration: '{{ user.get_profile.registration }}',
                welcome: {% if user.get_profile.welcome %}true{% else %}false{% endif %},
                photo: '{{ user.get_profile.photo }}',
                autostart: '{{ user.get_profile.autostart }}',
            });

            cache.user.add(window.profile);
        </script>
    </head>

    <body>
        <section id="content-wrapper">
        </section>
    </body>
</html>
