<!-- Copyright 2012, Cercle Informatique. All rights reserved. -->

<script id="tpl-loading" type="text/x-handlebars-template">
    loading..
</script>

<script id="tpl-navbar" type="text/x-handlebars-template">
<header>
    <section id="navbar">
        <a id="logo" href="#">Respublicae</a>
        <div id="search-wrapper">
            <form action="#">
                <input type="text" name="search" />
            </form>
        </div>
        <div id="account-wrapper">
            <i class="person-icon"></i>
            {{ name }} <i class="ticker-icon"></i>
        </div>
    </section>
</header>
</script>

<script id="tpl-desktop" type="text/x-handlebars-template">
<div id="main-sided-wrapper">
    <h1><i class="dashboard-icon"></i>Mon Bureau</h1>
    <ul id="dashboard">
        {{#each shortcuts}}
        <li class="dashboard-{{ this.app }}" data-type="{{this.app}}"
                                             data-target="{{this.id}}">
            <div class="dashboard-notif">X</div>
            <p>{{get_name this }}</p>
        </li>
        {{/each}}
        <li class="dashboard-preference">
            <p>Préférences</p>
        </li>
        <li class="dashboard-add">
            <p>Ajouter une App</p>
        </li>
    </ul>
</div>
<div id="large-sidebar-wrapper"></div>
</script>

<script id="tpl-market" type="text/x-handlebars-template">
    <h1>Market</h1>
</script>

<script id="tpl-course" type="text/x-handlebars-template">
    <section id="content-wrapper">
        <div id="main-sided-wrapper">
            <h1>
                <i class="course-icon-large"></i>
                {{ course.name }}
            </h1>
            <div id="course-content"></div>
        </div>
        <div id="large-sidebar-wrapper">
            <h2>Général</h2>
            <nav class="sidebar-nav">
                <a href="#course/{{ course.id }}/thread" data-app="thread"
                   class="x_action">Fils de discussion</a>
                <a href="#course/{{ course.id }}/wikicourse"
                   data-app="wikicourse" class="x_action">Wiki</a>
                <a href="#course/{{ course.id }}/document" data-app="document"
                   class="x_action">Documents</a>
                <a href="#">Podcasts</a>
                <a href="#">Contacter un prof</a>   
            </nav>
            <h2>TP</h2>
            <nav class="sidebar-nav">
                <a href="#">Fils de discussion</a>
                <a href="#">Documents</a>
            </nav>
        </div>
    </section>
</script>

<script id="tpl-course-thread" type="text/x-handlebars-template">
<div id="publish-conversation">
    <form action="#" id="new_thread">
        <textarea class="publish-conversation" placeholder="On vous écoute ..."></textarea>
        <input type="submit" value="Publier" class="button publish-comment">
        </input>
        <select class="ui-select conversation-tag-select">
            <option>Question concernant le cours</option>
            <option>Question d'examen</option>
            <option>Info pratique</option>
        </select>
        <div class="cf"></div>
    </form>
</div>
<div class="toolbar">
    <label for="sort-by">Trier par : </label>
    <select id="sort-by">
        <option>Date de publication</option>
        <option>Classement</option>
    </select>
</div>

{{#each threads}}
<article>
    <div>
        <a href="#"> <img src="img/sample-avatar.png" alt="" /> </a>
    </div>
    <div>
        <h3><strong> <a href="#">Nom</a> </strong><span class="title-date">il y a 13 minutes</span><span class="tag-wrapper"> Question sur la matière </span></h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p class="conversation-feed-actions">
            <a href="#">J'aime</a>
            <span class="inline-counter">12</span>
        </p>
        <div class="comment-box">
            <a href="#" class="button"> <i class="discuss-icon"></i> Afficher tous les commentaires </a>
            <ul>
                <li>
                    <div>
                        <a href="#"> <img src="img/sample-avatar-small.png" alt="" /> </a>
                    </div>
                    <div>
                        <h4><a href="#">Valentin Jadot</a><span class="title-date">Il y a 1 minute</a> </h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <p class="comment-actions">
                            <a href="#">J'aime</a>
                            <span class="inline-counter">23</span>
                        </p>
                    </div>
                </li>
                <li>
                    <div>
                        <a href="#"> <img src="img/sample-avatar-small.png" alt="" /> </a>
                    </div>
                    <div>
                        <h4><a href="#">Valentin Jadot</a><span class="title-date">Il y a 1 minute</a> </h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat.
                        </p>
                        <p class="comment-actions">
                            <a href="#">J'aime</a>
                            <span class="inline-counter">23</span>
                        </p>
                    </div>
                </li>
                <li>
                    <div>
                        <a href="#"> <img src="img/sample-avatar-small.png" alt="" /> </a>
                    </div>
                    <div>
                        <form action="#">
                            <textarea class="comment-textarea" placeholder="Réagissez ..."></textarea>
                            <input type="submit" value="Publier" class="button publish-comment">
                            </input>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="cf"></div>
</article>
{{/each}}
</script>

<script id="tpl-course-document" type="text/x-handlebars-template">
    <div id="new-document-toolbar">
        <a id="upload" href="#" class="button">
            <i class="upload-icon"></i>
            Envoyer un nouveau document
        </a>
        <select class="ui-select" id="sort-by">
            <option value="name">Titre</option>
            <option value="uploader">Auteur</option>
            <option value="rating">Qualité</option>
            <option value="statistical_rating">Qualité statistique</option>
            <option value="popularity">Popularité</option>
            <option value="date">Date de publication</option>
        </select>
        <label>Trier par:</label
    </div>
        {{#each documents}}
        <div class="cf"></div>
        <div id="document-feed">
            <article>
                <div>
                    <img src="static/image/sample-document-preview.png" alt="" />
                </div>
                <div>
                    <h3>
                        <strong><a href="#">{{this.name}}</a></strong>
                        <span class="title-date">Posté {{date this.date}}</span>
                    </h3>
                    <div>
                        {{{stars this}}}
                        <span class="doc-type">
                            <i class="type-icon"></i>
                            pdf
                        </span>
                    </div>
                    <div class="doc-description">
                        <p>{{this.description}}</p>
                    </div>
                </div>
            </article>
        </div>
        {{/each}}
</script>

<script id="tpl-document-upload" type="text/x-handlebars-template">
    <h1>Upload document</h1>
    <div id="upload_message"></div>
    <form id="upload_form" target="upload_frame" method="post" 
            encoding="multipart/form-data" enctype="multipart/form-data">
        <table>
            <tr><td>Filename : </td>
                <td><input name="filename"/></td></tr>
            <tr><td>Description : </td>
                <td><textarea name="description"></textarea></td></tr>
            <tr><td>File : </td>
                <td><input name="xfile" type="file"></td></tr>
        </table>
        <input name="ctype" type="hidden" value="{{ type }}"/>
        <input name="context" type="hidden" value="{{ context }}"/>
        <input name='csrfmiddlewaretoken' type='hidden' id='csrf_token' value='{{ token }}' />
        <input id="upload_form_submit" type="submit" value="upload">
        <iframe id="upload_frame" name="upload_frame" src=""></iframe>
    </form>
    <hr>
    <form id="upload_http_form" method="post">
        <table>
            <tr><td>Filename : </td>
                <td><input name="filename" value="slidix"/></td></tr>
            <tr><td>Description : </td>
                <td><textarea name="description">description youpla boom</textarea></td></tr>
            <tr><td>URL : </td>
                <td><input name="url" value="http://cerkinfo.be/~hastake/test.pdf"></td></tr>
        </table>
        <input name="ctype" type="hidden" value="{{ type }}"/>
        <input name="context" type="hidden" value="{{ context }}"/>
        <input name='csrfmiddlewaretoken' type='hidden' id='csrf_token' value='{{ token }}' />
        <input id="upload_http_submit" type="submit" value="upload">
    </form>
</script>

<script id="tpl-viewer" type="text/x-handlebars-template">
    <h1>{{ doc.name }}</h1>
    <p>{{ doc.description }}</p>
    <ul>
    {{#each pages}}
        <li>{{ this.num }} : {{ this.height_120 }}</li>
    {{/each}}
    </ul>
</script>

<script id="tpl-wiki" type="text/x-handlebars-template">
<div id="wiki">
    {{#each wiki.infos}}
    <article>
        <h2>{{this.name}}</h2>
        <hr/>
        <ul>
            {{#each this.values}}
            <li>
                <div class="wiki-label">{{this.name}}</div>
                <div class="wiki-content">{{this.value}}</div>
            </li>
            {{/each}}
        </ul>
    </article>
    {{/each}}
    last edit by {{wiki.user__name}}
</div>
</script>

<script id="tpl-wiki-form" type="text/x-handlebars-template">
		<ul id="current_edition"> 
			{{#each form}}
				<li>{{this.name}}:<textarea name="{{this.name}}" class="form_{{this.name}}">{{this.value}}</textarea></li>
			{{/each}}
		</ul>
		<button id="form_confirm">Confirmer</button>
		<button id="form_cancel">Annuler</button>
		<div id="form_add_field">+</div>
</script>

<script id="wiki-form-add" type="text/x-handlebars-template">
	<li><input type="text" value="" name="add_key" id="wiki_form_add_key"><textarea value="" name="add_value" id="wiki_form_add_value"/><div id="wiki_form_add_submit">OK</div></li>
</script>

<script id="tpl-sidebar" type="text/x-handlebars-template">
    <section id="sidebar" class="side-toolbar">
        <div id="sidebar-inner"></div>
    </section>
    <div id="sidebar-backdrop" class="backdrop backdrop-hidden"></div>

</script>

<script id="tpl-desk-course" type="text/x-handlebars-template">
</script>
