<!-- Copyright 2012, RespLab. All rights reserved. -->

<script id="tpl-desktop" type="text/x-handlebars-template">
    <div id="content">
        <h1>{{ profil.realname }}</h1>
        <div id="market">Market</div>
        {{#each applications}}
        <div id="{{ this.name }}">{{ this.name }}</div>
        {{/each}}
    </div>
</script>

<script id="tpl-market" type="text/x-handlebars-template">
    <div id="content">
        <h1>Market</h1>
    </div>
</script>

<script id="tpl-loading" type="text/x-handlebars-template">
    loading..
</script>
