<!-- Copyright 2012, RespLab. All rights reserved. -->

<script id="tpl-desktop" type="text/x-handlebars-template">
    <div id="content">
        <h1>{{ profil.realname }}</h1>
        <div id="market">Market</div>
        <p>Debug: {{ applications }}</p>
        {{#each applications}}
        <div>Prout: {{ this.name }}</div>
        {{/each}}
    </div>
</script>

<script id="tpl-market" type="text/x-handlebars-template">
    <h1>Market</h1>
</script>

<script id="tpl-loading" type="text/x-handlebars-template">
    loading..
</script>

<script id="tpl-navbar" type="text/x-handlebars-template">
    <div id="navbar">
        <div id="brand">Fognar!1</div>
        <div id="desk_button">Desktop</div>
    </div>
</script>
